version: "3.8"

networks:
  web:
    name: web
  intercom:
    name: intercom

volumes:
  order_pg_vol:

services:
  traefik:
    image: "traefik:v3.5.2"
    command:
      - "--api.insecure=true"          # optional dashboard
      - "--providers.docker=true"      # discover services via Docker
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"                    # dashboard (optional)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - web

  orderservice:
    container_name: orderservice
    build: .
    command: [ "/app/ordersystem" ]
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432
      - DB_HOST=order-postgres
    networks:
      - intercom
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.orders.rule=Host(`orders.localhost`)"
      - "traefik.http.services.orders.loadbalancer.server.port=3000"

  sws:
    image: joseluisq/static-web-server:latest
    environment:
      - SERVER_PORT=80
      - SERVER_ROOT=/srv
    volumes:
      - ./frontend:/srv:ro
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sws.rule=Host(`localhost`)"
      - "traefik.http.services.sws.loadbalancer.server.port=80"

  order-postgres:
    image: postgres:latest
    restart: always
    networks:
      - intercom
    volumes:
      - order_pg_vol:/var/lib/postgresql/18/docker
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_TCP_PORT=5432
